/* Body */
body{margin-left: 1.5em; margin-right: 2.25em;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
figure{margin:0em;}
img
{
vertical-align:middle;
}
a
{
color:#0000FF;
text-decoration: underline;
}
.underline
{
text-decoration: underline;
}
sup
{
vertical-align:0.55em;
font-size:0.6em;
line-height:0em;
}
sub
{
vertical-align:-0.4em;
font-size:0.6em;
line-height:0em;
}
/* Frontmatter */
.halftitle
{
font-size:50px;
margin-top:2.5em;
margin-bottom:0em;
text-indent:0em;
font-weight:normal;
text-align:center;
}
.halftitle1a
{
font-size:22px;
font-weight:normal;
margin-top:2em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
}
.halftitle1b
{
font-size:110%;
margin-top:5em;
margin-bottom:0em;
text-indent:0em;
font-weight:normal;
text-align:center;
}
.booktitle
{
font-weight:normal;
font-size:420%;
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
}
.booksubtitle
{
font-size:170%;
margin-top:1.5em;
margin-bottom:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
.booksubtitle1
{
font-size:200%;
margin-top:4em;
margin-bottom:2em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
.box
{
margin-top:1em;
margin-bottom:0em;
padding:0.5em;
text-indent:0em;
background-color: #eceded;
text-align: justify;
}
.numlistx
{
font-size:90%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
margin-left:0em;
text-align:left;
}
.bnumlist1b
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
margin-left:0em;
text-align:left;
}
.bnumlist1
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
margin-left:3em;
text-align:left;
}
.bnumlist1a
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
margin-left:1.5em;
text-align:left;
}
.bnumlist2
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
margin-left:5.5em;
text-align:left;
list-style: none;
}
.bft
{
float:left;
text-indent:-2em;
}
.bft1
{
float:left;
text-indent:-2.5em;
}
.battrib
{
font-size:100%;
margin-top:0.5em;
margin-bottom:0.5em;
font-weight:bold;
text-indent:0em;
text-align:left;
margin-left:1em;
}
.halftitle1
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
font-weight:bold;
text-indent:0em;
text-align:center;
}
.edition
{
font-size:90%;
margin-top:0em;
font-weight:bold;
margin-bottom:1em;
text-indent:0em;
text-align:center;
}
.subtitle
{
font-size:150%;
margin-top:.1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
}
.subtitleb
{
font-size:150%;
margin-top:12em;
margin-bottom:3em;
text-indent:0em;
text-align:left;
}
.fmtitle
{
font-variant: small-caps;
margin-top:2em;
margin-bottom:3em;
text-indent:0em;
text-align:center;
font-weight:bold;
font-size:140%;
}
.bmtitle1
{
margin-top:3em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
font-size:130%;
}
.bmtitle1a
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
font-size:130%;
}
.bmtitle
{
margin-top:2em;
margin-bottom:3em;
text-indent:0em;
text-align:center;
font-weight:bold;
font-size:140%;
font-variant: small-caps;
}
.bkauthor
{
font-size:90%;
margin-top:2em;
margin-bottom:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
.bkauthor1
{
font-size:80%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
.tcap
{
float:left;
text-indent:-4.5em;
}
.tcaption
{
font-size:80%;
margin-top:1em;
margin-left:4.5em;
margin-bottom:.3em;
text-indent:0em;
text-align:left;
}
.copyt
{
margin-top:1em;
margin-bottom:0em;
text-align: justify;
font-size:70%;
text-indent:0em;
}
.copy1
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
padding-left:1em;
text-align:left;
font-size:70%;
text-indent:0em;
}
.copyh
{
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-align:left;
font-size:70%;
text-indent:-1em;
}
.copyc
{
margin-top:12em;
margin-bottom:0em;
text-align:left;
text-indent:0em;
font-size:70%;
text-indent:0em;
}
.copy
{
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-size:70%;
text-indent:0em;
margin-left:0em;
padding-left:0em;
}
.right
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
text-align:right;
font-size:80%;
text-indent:0em;
}
.rightb
{
margin-top:0em;
margin-bottom:4em;
margin-right:0em;
text-align:right;
font-size:80%;
text-indent:0em;
}
.rightt
{
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
text-align:right;
font-size:80%;
text-indent:0em;
}
.tocch
{
margin-top:.1em;
margin-bottom:0em;
text-align:left;
font-size:80%;
margin-left:6em;
text-indent:0em;
}
.toccht
{
margin-top:1em;
margin-bottom:0em;
text-align:left;
font-size:80%;
margin-left:6em;
text-indent:0em;
}
.tocpt
{
color:#808285;
margin-top:1em;
margin-bottom:.5em;
text-align:left;
font-weight:bold;
font-size:90%;
margin-left:6em;
text-indent:0em;
}
.flt
{
float:left;
margin-left:-6em;
}
.fltr
{
float:left;
margin-left:-1.5em;
}
.fltr1
{
float:left;
margin-left:-2em;
}
.flta
{
float:left;
margin-left:-6em;
}
.ff1
{
float:left;
margin-left:-2.5em;
}
.ff1a
{
float:left;
margin-left:-3.5em;
}
.chtoc
{
margin-top:1em;
margin-bottom:0em;
margin-left:2.5em;
text-align:left;
font-size:80%;
text-indent:0em;
font-variant: small-caps;
}
.ff2
{
float:left;
margin-left:-4.5em;
}
.chtoc1
{
margin-top:0em;
margin-bottom:0em;
margin-left:6em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.chtoct
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-align:left;
font-size:80%;
text-indent:0em;
font-variant: small-caps;
}
.tocentry
{
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-align:left;
font-size:110%;
text-indent:0em;

}
.tocentry1
{
margin-top:1em;
margin-bottom:0em;
margin-left:6.5em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.tocentry1
{
margin-top:1em;
margin-bottom:0em;
margin-left:5.5em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.tocentry1a
{
margin-top:1em;
margin-bottom:0em;
margin-left:6.5em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.tocentry2
{
margin-top:.2em;
margin-bottom:0em;
margin-left:6.5em;
text-align:left;
font-size:80%;
text-indent:-1em;

}
.tocentry3
{
margin-top:.2em;
margin-bottom:0em;
margin-left:5.5em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.tocentry2a
{
margin-top:1em;
margin-bottom:0em;
margin-left:5.5em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.f1
{
float:left;
margin-left:-6.5em;
}
.f1a
{
float:left;
margin-left:-6.4em;
}
.f2
{
float:left;
margin-left:-3em;
}
.f3
{
float:left;
margin-left:-3em;
}
.f4
{
float:left;
margin-left:-3.1em;
}
.toc
{
margin-top:.1em;
margin-bottom:0em;
margin-left:0em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.toct
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.poemt
{
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.poem
{
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-align:left;
font-size:80%;
text-indent:0em;
}
.center
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
font-weight:bold;
font-size:100%;
text-indent:0em;
}
.centera
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
font-weight:bold;
font-size:100%;
text-indent:0em;
text-transform: uppercase;
}
.text
{
margin-top:1em;
background-color:#CCCCCC;
color:#000000;
margin-bottom:1em;
text-align:justify;
font-weight:normal;
font-size:100%;
text-indent:0em;
padding:.5em;
}
.eqn
{
font-size: 80%;
margin-top:1em;
margin-bottom:1em;
text-align:center;
text-indent:0em;
}
.eqnr
{
float:right;
font-weight:normal;
text-indent:0em;
}
.fl1
{
float:right;
}
/* Bodymatter */
.chapno
{
/* font-size:140%;
margin-top:2em;
margin-bottom:3em;
text-align:right;
text-indent:0em;
font-variant: small-caps;
margin-right: 2.5em;
font-weight: normal; */

font-size:190%;
margin-top:1.5em;
margin-bottom:2.5em;
text-align:right;
text-indent:0em;
font-variant: small-caps;
font-weight: normal;
}
.ch
{
/* display:block;
font-size: 70px;
font-weight: normal; */

display:block;
font-size:50px;
font-weight:bold;
}
.chaptitle
{
font-size:140%;
margin-top:0em;
margin-bottom:1em;
text-align:center;
text-indent:0em;
}
.center1
{
font-size:120%;
margin-top:0em;
margin-bottom:1em;
text-align:center;
text-indent:0em;
}
.chapter
{
font-size:150%;
margin-top:1em;
margin-bottom:3em;
text-align:left;
text-indent:0em;
}
.chaptera
{
font-size:150%;
margin-top:1em;
margin-bottom:.5em;
text-align:left;
text-indent:0em;
}
.partno
{
font-size:160%;
margin-top:1em;
margin-bottom:2em;
text-align:left;
text-indent:0em;
}
.parttitle
{
display:block;
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
}
.chtitle
{
display:block;
margin-top:2em;
margin-bottom:0em;
text-indent:0em;
}
.chauthor
{
font-size:95%;
font-style:italic;
margin-top:1em;
margin-bottom:5em;
font-weight:normal;
text-indent:0em;
text-align:right;
}
.s1
{
float:left;
text-indent:-2.5em;
}
.subhead1
{
margin-top:1.5em;
margin-bottom:.5em;
font-size:105%;
text-align:left;
margin-left:0em;
font-weight:bold;
text-indent:0em;
}
.subhead1a
{
margin-top:1.5em;
margin-bottom:1em;
font-size:105%;
text-align:center;
margin-left:0em;
font-weight:bold;
text-indent:0em;
}
.subhead1b
{
margin-top:1em;
margin-bottom:1em;
font-size:100%;
text-align:left;
margin-left:0em;
font-weight:bold;
text-indent:0em;
font-variant: small-caps;
}
.subhead1bi
{
margin-top:1em;
margin-bottom:0em;
font-size:100%;
text-align:left;
margin-left:0em;
font-weight:bold;
text-indent:0em;
font-variant: small-caps;
}
.s2
{
float:left;
text-indent:-3.2em;
}
.subhead2
{
margin-top:1em;
margin-bottom:.6em;
font-size:95%;
text-align:left;
margin-left:0em;
font-weight:bold;
font-style:italic;
text-indent:0em;
}
.subhead2a
{
margin-top:1em;
margin-bottom:0em;
font-size:95%;
text-align:left;
margin-left:3em;
font-weight:bold;
font-style:italic;
text-indent:0em;
}
.subhead2b
{
margin-top:1em;
margin-bottom:0em;
font-size:95%;
text-align:left;
margin-left:3em;
font-weight:bold;
text-indent:0em;
}
.s3
{
float:left;
text-indent:-3.5em;
}
.subhead3x
{
/* margin-top:1.2em;
margin-bottom:.5em;
font-size:90%;
font-weight:bold;
text-align:left;
margin-left:3.5em;
text-indent:0em; */
margin-top:1.2em;
margin-bottom:-.5em;
font-size:100%;
text-align:left;
margin-left:0em;
text-indent:0em;
font-weight: normal;
}
.subhead3
{
margin-top:1.2em;
margin-bottom:.5em;
font-size:90%;
font-weight:bold;
text-align:left;
margin-left:0em;
text-indent:0em;
}
.subhead3a
{
margin-top:1.2em;
margin-bottom:1em;
font-size:100%;
text-align:left;
margin-left:0em;
text-indent:0em;
font-weight: normal;

}
.subhead4
{
margin-top:1em;
margin-bottom:-.5em;
font-size:100%;
text-align:left;
margin-left:0em;
font-weight:normal;
text-indent:0em;
text-indent: 1em;
}
.subhead4a
{
margin-top:0.5em;
margin-bottom:0em;
font-size:85%;
text-align:left;
margin-left:0em;
font-weight:bold;
text-indent:0em;
}
.subhead4b
{
margin-top:0em;
margin-bottom:0em;
font-size:85%;
text-align:left;
margin-left:0em;
font-weight:bold;
text-indent:0em;
}
.subhead4c
{
margin-top:0em;
margin-bottom:0em;
font-size:85%;
text-align:left;
margin-left:0em;
font-weight:normal;
text-indent:0em;
}
.subhead2i
{
margin-top:1em;
margin-bottom:0em;
font-size:95%;
text-align:left;
margin-left:0em;
font-weight:bold;
font-style:italic;
text-indent:0em;
}
.noindent
{
font-size:100%;
margin-top:0em;
margin-bottom:0.5em;
text-indent:0em;
text-align:justify;

}
.noindentt
{
font-size:100%;
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:justify;
}
.indent
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
text-indent:1em;
text-align:justify;
}
.indentt
{
font-size:100%;
margin-top:1em;
margin-bottom:0em;
text-indent:1em;
text-align:justify;
margin-left: 3.5em;
}
.image
{
text-align:center;
margin-top:1em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
display:block;
}
.logo
{
margin-top:1em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
width:80%;
display: block;
}
.pub
{
text-align:center;
margin-top:5em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
display:block;
}
.pub1
{
text-align:left;
margin-top:1em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
display:block;
}
.fg
{
margin-left: 1em;
font-size: 100%;
}
.figcaption
{
margin-top:1em;
margin-bottom:0em;
font-weight:normal;
text-align:justify;
margin-left:0em;
font-size:80%;
text-indent:0em;
}
.figcaption1
{
margin-top:0em;
margin-bottom:2em;
font-weight:normal;
text-align:center;
margin-left:4.5em;
font-size:80%;
text-indent:0em;
}
.figcaptiona
{
margin-top:1em;
margin-bottom:0em;
font-weight:normal;
text-align:justify;
margin-left:0em;
font-size:90%;
text-indent:0em;
border-top: 1px solid;
padding-top: 0.5em;
}
.table1
{
margin-left:0em;
margin-top:1em;
margin-bottom:1em;
width:100%;
border-spacing:0em;
padding:0em;
border:solid 1px;
border-collapse:collapse;

}
.table1a
{
margin-left:-0.5em;
margin-top:1em;
margin-bottom:1em;
width:100%;
border-spacing:0em;
padding:10em;
border-collapse:collapse;
border-top: 1px solid;
border-bottom: 1px solid;
padding-top: 10em;
}

td
{
vertical-align:top;
}
.table
{
margin-left:0em;
margin-top:0.5em;
margin-bottom:0.5em;
border-spacing:0em;
padding:0em;
}
/* .table1a
{
margin-left:0em;
padding:0em;
margin-top:0.5em;
margin-bottom:0.5em;
} */
.table1b
{
border-top:1px solid;
margin-left:0em;
margin-top:1em;
margin-bottom:1em;
width:100%;
border-spacing:0em;
padding:0em;
}
.tbr
{
border-top:1px solid;
border-right:1px solid;
border-bottom:1px solid;
}
.br
{
border-right:1px solid;
border-bottom:1px solid;
}
.rr
{
padding: .5em;
}
.bb
{
border-bottom:1px solid;
}
.ll
{
text-align: left;
}
.lb
{
border-left:1px solid;
border-bottom:1px solid;
}
.tab1
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:.3em;
text-indent:0em;
text-align:left;
}
.tab1r
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0.8em;
text-indent:0em;
text-align:left;
}
.tab1aa
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:.3em;
margin-right:.2em;
text-indent:0em;
text-align:justify;
}
.tab1a
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.7em;
margin-right:.2em;
text-indent:0em;
text-align:justify;
}
.tab1b
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:.3em;
font-weight:bold;
text-indent:0em;
text-align:justify;
}
.table11a
{
margin-left:0em;
margin-top:1em;
margin-bottom:1em;
width:100%;
border-spacing:0em;
padding:0em;
border-collapse:collapse;
}
.thead
{
font-size:100%;
margin-top:10em ;
margin-bottom:10em;
margin-left:.3em;
text-indent:0em;
text-align:justify;


}
.theadc
{
font-size:80%;
margin-top:0em;
margin-bottom:0em;
margin-left:.3em;
text-indent:0em;
text-align:center;
}
.clr
{
background-color:#eceded;
color:#000000;
}
.tab1c
{
font-size:80%;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
}
.attrib
{
font-size:80%;
margin-top:.3em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
}
.quote
{
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
text-align:justify;
font-size:80%;
text-indent:0em;
}
.quotet
{
margin-top:1em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
text-align:justify;
font-size:80%;
text-indent:0em;
}
.quotei
{
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
text-align:justify;
font-size:80%;
text-indent:1em;
}
.pgnote
{
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
text-align:justify;
font-size:75%;
text-indent:0em;
}
.fltn
{
float:left;
text-indent:-1.5em;
}
.btnumlist
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.90rem;
margin-left:2em;
text-indent:0em;
}
.numlist
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.80rem;
margin-left:1.5em;
text-indent:0em;
}
.numlist1
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.80rem;
margin-left:1em;
text-indent:0em;
}
.nn
{
float:left;
margin-left:-2em;
}
.numlistn
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:2em;
text-indent:0em;
}
.simplelist1
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:2em;
text-indent:0em;
}
.sim
{
/* float:left; */
margin-top: -1em;
}
.sim1
{
float:left;
margin-left:-2em;
}
.laphalist
{
margin-top:.2em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.80rem;
margin-left:2em;
text-indent:0em;
}
.ualphalist
{
margin-top:.2em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.80rem;
margin-left:0em;
text-indent:0em;
}
.bulldash
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:2em;
text-indent:0em;
padding-left:0.5em;
}
.bull
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:100%;
margin-left:0em;
text-indent:0em;
padding-left:0.5em;
}
.bull1
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.80rem;
margin-left:0em;
text-indent:0em;
}
.bulli
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:.80rem;
margin-left:0em;
text-indent:1.5em;
}
.footnote
{
border-top:1px solid;
padding-top:.2em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
}
/* Backmatter */
.hh
{
float:left;
text-indent:-5em;
}
.hangt
{
margin-top:0em;
margin-bottom:0em;
/* text-align:justify; */
font-size:100%;
margin-right:0em;
margin-left:3em;
padding-left:0em;
text-indent:-2em;
}
.hangt1
{
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-size:80%;
margin-right:0em;
margin-left:0em;
padding-left:0em;
text-indent:0em;
}
.hang
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1em;
font-size:100%;
margin-left:3em;
text-indent:-3em;
}
.hang1
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1em;
font-size:100%;
margin-left:1em;
text-indent:-1em;
}
.hang2
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1em;
font-size:100%;
margin-left:-.5em;
text-indent:1em;
}
.top
{
margin-top:1em;
}
.index
{
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:1em;
text-indent:-1em;
font-size:.70rem;
}
.index2
{
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:2em;
text-indent:-1em;
font-size:.70rem;
}
.index3
{
margin-top:0em;
margin-bottom:0em;
text-align:left;
margin-left:3em;
text-indent:-1em;
font-size:.70rem;
}
.r1
{
float:left;
text-indent:-2.5em;
}
.ref
{
font-size:75%;
margin-top:0em;
text-align:justify;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
}
.reft
{
font-size:75%;
margin-top:1em;
text-align:justify;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
}
.refp
{
font-size:75%;
margin-top:0em;
text-align:justify;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
}
.top
{
margin-top:1em;
}
.ref1
{
font-size:75%;
margin-top:0em;
text-align:justify;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
}
blockquote
{
padding:0em;
margin:1em 1.5em 1em 1.5em;
}
.olist
{
padding:0em;
margin:.5em 0em .5em 0em;
}
.olist1
{
padding:0em;
margin:1em 0em 0em 0em;
list-style:none;
}
.olist2
{
padding:0em;
margin-left: 1em;
}
.nlist
{
padding:0em;
margin:0em 0em .5em 0em;
list-style:none;
}
.lalpha
{
padding:0em;
margin:.5em 0em .5em 0em;
list-style:lower-alpha;
}
.ualpha
{
padding:0em;
margin:0.5em 0em 0em 0em;
list-style:upper-alpha;
}
.ulist1
{
padding:0em;
margin:.5em 0em .5em .8em;
list-style:disc;
margin-left: 2em;
}
.ulist_p
{
padding:0em;
margin:0em 0em 0em 0em;
list-style:disc;
}
.tlist
{
padding:0em;
margin:0em 0em 0em 0em;
list-style:disc;
margin-left: -0.5em;
}
.f11
{
float:left;
text-indent:-1.5em;
}
.ulist
{
padding:0em;
margin:.5em 0em .5em .8em;
list-style:disc;

}
.ulist2
{
padding:0em;
margin:.0em 0em 0em .8em;
list-style:disc;
}
.bolist
{
padding:0em;
margin:0em 0em 0em 0em;
list-style:none;
}
.simple
{
list-style:none;
padding:0em;
margin:.5em 0em .5em 1em;
}
th
{
font-weight:normal;
/* padding-top: .5em; */
padding: .5em;
}
.ulindex
{
padding:0em;
margin:0em;
list-style:none;
}
.none
{
padding:0em;
margin:1em 0em 0em 0em;
list-style:none;
}
small
{
text-transform:uppercase;
}
.rlist
{
list-style-type: none;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
padding-left:0em;
text-indent:0em;
}
.blk
{
display:block;
}
.hide
{
display:none;
visibility: hidden;
}
.space
{
padding:1em;
}
.tochead
{
margin-top:1em;
margin-bottom:2em;
text-align:center;
font-weight:bold;
font-size:90%;
text-indent:0em;
font-variant: small-caps;
}
.tab
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
}
.tf
{
float:left;
text-indent:-1.5em;
}
.tabfn
{
font-size:80%;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
}
.tabfn1
{
font-size:80%;
padding:0em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
}
.tbull
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:100%;
margin-left:1.5em;
text-indent:0em;
padding-left:0em;
}
.tbull_p
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:100%;
margin-left:3em;
text-indent:0em;
padding-left:0.5em;
}
.tfa
{
float:left;
text-indent:-3.5em;
}
.tabfna
{
font-size:80%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.5em;
text-indent:0em;
text-align:justify;
}
.bs
{
float:left;
text-indent:-1.5em;
}
.bulls
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:0.5em;
text-indent:0em;
padding-left:0em;
}
.bx
{
float:left;
text-indent:-1.5em;
}
.bullx
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:1.5em;
text-indent:0em;
padding-left:0em;
}
.ball
{
border:1px solid;
}
.ss
{
float:left;
text-indent:-3.5em;
}
.ns
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:3.5em;
text-indent:0em;
padding-left:0em;
}
.nst
{
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-style:normal;
font-size:80%;
margin-left:3.5em;
text-indent:0em;
padding-left:0em;
}
.cc
{
background-color:#dcdcdc;
border-bottom:1px solid;
border-right:1px solid;
}
.tabx
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
text-align:justify;
}
.tab1x
{
font-size:80%;
padding:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-indent:0em;
text-align:left;
}
.scroll
{
width: auto;
height: auto;
overflow-x: auto;
display: block;
-webkit-overflow-scrolling: touch;
margin-top:1em;
margin-bottom:1em;
}

.chtoc {
display: flex;
justify-content: space-between;
align-items: center;
}

.f {
margin-left: auto;
}



/* Additional Classes */
.level{
border: 1px solid;
border-collapse: collapse;
width: 100%;
height: 40px;
margin-top: 1em;
margin-bottom: 1em;
}
.level1,#level2
{
border: 1px solid;
width: 100px;

}
.level2
{
border: 1px solid;
width: 100px;
text-align: center;
vertical-align: middle;

}

.ulist1
{
padding:0em;
margin:.5em 0em .5em .8em;
list-style:disc;
margin-left: 2em;
}

.center1
{
text-align: center;
font-size:100%;
margin-top: -0.8em;
}
.subheadt
{
margin-top:1em;
font-size:100%;
text-align:center;
margin-left:0em;
font-weight:bold;
text-indent:0em;
}

.space
{
margin-top: 3em;
text-align: center;
font-weight: bold;
font-size:115%;

}


.bt{
border-top: 1px solid black;

margin-bottom: -0.8em;
}


.unorderd-list {
list-style: none;
text-indent: -0.6em;
margin-left: -1.5em;
}

.unorderd-list li:before {
content: '* ';
}


.ch1
{
display:block;
font-size: 30px;
font-weight: normal;
}
.chapno1{
font-size:190%;
margin-top:2em;
margin-bottom:3em;
text-align:right;
text-indent:0em;
font-variant: small-caps;
margin-right: 5em;
font-weight: normal;
}

.fg1
{
margin-left: .5em;
}
.lfp{
padding-left: 120px;
}
.center2
{
padding-top: 35px;
margin-bottom:1em;
text-align:center;
font-weight:normal;
font-size:100%;
text-indent:0em;
}
.center3
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
font-weight:normal;
font-size:100%;
text-indent:0em;
}
.nospace{
margin-bottom: -.7em;
}
.rr1{
padding: 1px 15px;
}
.rr1aaa {
padding:0px;
}


.aleft{
text-align: left;
justify-content: left;


}
.aright{
text-align: right;
}
.aleft1{

margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-size:100%;
text-indent:0em;

}
.aleft2{
text-align: left;
justify-content: left;
padding-left: 7px;

}
.imagee{
text-align:center;
margin-top:1em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
display:block;
height: 50%;
width: 50%;
}

.none2
{
list-style-type:none;
padding-left:3em !important;
text-indent:-2em;
}
.sc {
font-variant: small-caps;
}

.div_colour{
background-color: #eceded;
padding: 10px;
margin-top:2em;
text-align: justify;

}
.div_center{
text-align: center;
}
.lf{
margin-left: 15px;
}
.lf1{
margin-left: 22px;
}


.lfp{
padding-left: 120px;
}

.noindents
{
font-size:100%;
margin-top:2em;
margin-bottom:0em;
text-indent:0.7em;
text-align:justify;
}
.lf1{
margin-left: 30px;
}
.indenttt
{
font-size:100%;
margin-top:1em;
margin-bottom:0em;
text-indent:1em;
text-align:justify;
}

.hang3
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-size:100%;
margin-right:1em;
margin-left:2em;
text-indent:-1em;
}
.hang4
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-size:100%;
margin-right:1em;
margin-left:3em;
text-indent:-1em;
}
.space{
height: 3em;
}
.space1{
height: 2em;
}
.olist3
{
padding:0em;
margin-left: 1em;
}
.con{
vertical-align:top;


}
.part{
margin-left: -2em;
font-variant: small-caps;
}
.table1aa
{
margin-left:-0.5em;
margin-top:1em;
margin-bottom:1em;
width:70%;
border-spacing:0em;
padding:10em;
border-collapse:collapse;
border-top: 1px solid;
border-bottom: 1px solid;
padding-top: 10em;
margin-left: auto;
margin-right: auto;
}
.table2ab
{
margin-left:-0.5em;
margin-top:1em;
margin-bottom:1em;
width:40%;
border-spacing:0em;
padding:10em;
border-collapse:collapse;
border-top: 1px solid;
border-bottom: 1px solid;
padding-top: 10em;
margin-left: auto;
margin-right: auto;
}
.caption_ca{
text-align: justify;
}

.com{
vertical-align: top;
}
.cente{
/* margin-left: auto;
margin-right: auto;
color: red; */
text-align: center;
}
.f1b
{
float:left;
margin-left:-5.5em;
font-variant: small-caps;
}
.anc
{
word-break: break-all;
}
.subhead1in
{
margin-top:1.5em;
margin-bottom:1em;
font-size:100%;
text-align:left;
margin-left:0em;
font-weight:bold;
text-indent:0em;
}
.image1{
text-align:center;
margin-top:1em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
display:block;
width:80%;
}
.tabli
{
margin-left: 1.5em;
}
.hang5
{
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1em;
font-size:100%;
margin-left:-.3em;
text-indent:1em;
}
.image2{
text-align:center;
margin-top:5em;
margin-bottom:0em;
margin-right:auto;
margin-left:auto;
text-indent:0em;
width: 40%;
display:block;
}
.noindent1
{
font-size:100%;
margin-top:0.5em;
margin-bottom:0em;
text-indent:0em;
padding-top:1em;
text-align:justify;
border-top: 1px solid black;
}
.noindent2
{
font-size:100%;
margin-top:2em;
margin-bottom:0.5em;
text-indent:0em;
text-align:center;
}
.subtitlec
{
font-size:150%;
margin-top:10em;
margin-bottom:1em;
text-indent:0em;
text-align:left;
}
.image3{
text-align:center;
margin-top:1em;
margin-right:auto;
margin-left:auto;
margin-bottom:1em;
text-indent:0em;
display:block;
width:100%;
}